{% if config['bg'] %}
	{% set bg = config['bg'] %}
{% else %}
	{% set bg = '#001A35' %}
{% endif %}

{% if config['text_color'] %}
	{% set text_color = config['text_color'] %}
{% else %}
	{% set text_color = 'white' %}
{% endif %}

{% if config['hover_color'] %}
	{% set hover_color = config['hover_color'] %}
{% else %}
	{% set hover_color = '#003f6b' %}
{% endif %}

{% if config['logo'] %}
	{% set logo = config['logo'] %}
{% else %}
	{% set logo = 'logo.png' %}
{% endif %}


<footer class=" w-full mx-auto bg-[{{bg}}] text-white pt-10 pr-5 pb-10 pl-5 text-sm font-['Pixelify_Sans']">
	<div class="w-[75%] flex max-sm:block max-lg:block flex-wrap justify-between gap-[30px] mx-auto">
		<section class="flex-1 basis-[200px] max-lg:py-5">
			<h3 class="text-lg text-[{{text_color}}] max-lg:text-center max-lg:text-xl">Créditos</h4>
			<p class="max-lg:text-base max-lg:text-center">Site desenvolvido por alunos da Estácio São Luís</p>
		</section>
		<section class="flex-1 basis-[200px] max-lg:py-5">
			<h3 class="text-lg text-[{{text_color}}] max-lg:text-center max-lg:text-xl">Sobre o Curso</h4>
			<p class="max-lg:text-base max-lg:text-center">Ciência da Computação - Universidade Estácio de Sá</p>
			<p class="max-lg:text-base max-lg:text-center">Campus São Luís</p>
		</section>
		<section class="flex-1 basis-[200px] max-lg:py-5">
			<h3 class="text-lg text-[{{text_color}}] max-lg:text-center max-lg:text-xl">Contato</h4>
			<address>
				<p class="max-lg:text-base hover:underline hover:text-base duration-300 max-lg:text-center">
					<a href="#">Instagram da Atlética</a>
				</p>
				<p class="max-lg:text-base hover:underline hover:text-base duration-300 max-lg:text-center">
					<a href="#">Instagram da Computação Estácio Sao Luis</a>
				</p>
			</address>
		</section>
	</div>
	<div class="text-center mt-5 border-t border-[#444] pt-7">
		<p class="text-[{{text_color}}] italic">©
			{{"now"|date("Y")}}
			- Todos os direitos reservados.</p>
	</div>
</footer>

<script src="{{base_url}}/{{assets}}/js/navbar.js"></script>